<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="aupova_41Entities" connectionString="metadata=res://*/Aupova_41Model.csdl|res://*/Aupova_41Model.ssdl|res://*/Aupova_41Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0J3CU7G;initial catalog=aupova_41;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>